<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="favicon.ico">
<link rel="Shortcut Icon" href="favicon.ico">
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="static/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="static/h-ui/css/style.css" rel="stylesheet" type="text/css" />
<link href="static/h-ui/css/H-ui.doc.css" rel="stylesheet" type="text/css">
<link href="static/h-ui/css/H-ui.admin.css" rel="stylesheet" type="text/css">
<link href="static/h-ui/css/laypage.css" rel="stylesheet" type="text/css">
<link href="lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="lib/bootstrapSwitch/bootstrapSwitch.css" rel="stylesheet" type="text/css" />
<link href="lib/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!--[if IE 7]>
<link href="lib/font-awesome/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<link href="lib/iconfont/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->

<!--[GTMAPUICSS]-->
<link href="css/public.css" rel="stylesheet" type="text/css" />
<!--[end GTMAPUICSS]-->

<title>评估汇总表</title>
<meta name="keywords" content="关键词,5个左右,单个8汉字以内">
<meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
</head>
<body class="greenStyle">
<header class="header border-bottom">
  <nav class="mainnav Hui-wraper">
    <h1 class="LOGO">如皋市经济开发区住房安置系统</h1>
    
<!-- 导航栏 -->    
    <ul class="cl  ToCenter">
      <li class="navBorder current border-top">
      		<a class="" href="01Content.html">汇总表</a>
		</li>
     <li class="navBorder border-top">
      	<a class="dropDown_A" href="03Content.html">统计报表</a>
	 </li>
    </ul>
<!--end 导航栏 -->          

<!-- 工具栏 -->          
      <ul class="ToRight border-bottom">
       <li>
      	<form action="" method="" class="" id="">
          <div class="navSearch">
            <input type="text" value="" class="navSearchText" placeholder="系统搜索"/>
            <button type="button"  class="navSearchButton" >1</button>
          </div>
        </form>
      </li>
      
      <li class="navBorder dropDown dropDown_hover border-top border-right"><a href="#" class="dropDown_A"><span class="user "><span class="userName">张三 </span></span><i class="iconfont ">&#xf02a9;</i></a>
        <ul class="dropDown-menu radius box-shadow">
          <li><a href="#"><i class="icon-off"></i> 注   销</a></li>
          <li><a href="#"><i class="icon-share-alt"></i> 退   出</a></li>
        </ul>
      </li>
     </ul>
<!--end 工具栏 -->        
  </nav>
</header>

<!-- 菜单栏   -->
<aside class="Hui-aside munePosition">
  <h2 class="leftMenuLab">汇总表</h2>
  <div class="leftMenu">
    <ul class="Menu01">
         <li class=""> <a href="01Content.html">汇总表</a> </li>
         <li class="current"> <a href="01Content-1.html">评估汇总表</a> </li>
         <li> <a href="01Content-2.html">搬迁补偿协议计算表</a> </li>
         <li> <a href="01Content-3.html">选房选车位</a> </li>
         <li> <a href="01Content-4.html">安置</a> </li>
     </ul>
  </div>
</aside>
<div class="dislpayArrow" ><a class="pngfix" href="javascript:void(0);" onclick="displaynavbar(this)"></a></div>
<!--end  菜单栏   --> 

<!--  主要内容区域   -->
<section class="Hui-article-box mainContent"><!-- 使用Hui-article-box恢复菜单栏自动缩放 -->
  <!-- 面包屑 -->
    <nav class="breadcrumb"><i class="icon-home"></i> <a class="maincolor" href="01Content.html">汇总表</a><span class="c-999 en">&gt;</span>评估汇总表</nav>
<!--end 面包屑 -->
<!--  主要内容区域   -->
<section class="Hui-article  pd-10 bg-white"><!-- 使用Hui-article-box恢复菜单栏自动缩放 -->
  <div class="Hui-wraper "> 
 <!-- 内容部分 -->
    <div class=" pd-20">
    	
        <form action="" class="form-horizontal">
                    <div class="row cl pd-10">
                      <div class="col-2 form-label" style="width:80px;">估价依据：</div>
                      <div class="col-4"> <span class="select-box size-MINI">
                        <select class="select" size="1" name="demo1">
                          		<option value="" selected="">政办发【2009】24号、开发【2009】2号</option>
								<option value="1">政办发【2009】24号、开发【2009】3号</option>
								<option value="2">政办发【2009】24号、开发【2009】4号</option>
								<option value="3">政办发【2009】24号、开发【2009】5号</option>
                        </select>
                        </span> </div>
                      <div class="col-2 form-label" >房屋坐落：</div>
                      <div class="col-4"> <input type="text" class="input-text size-MINI" ></div>
                    </div>
                    <div class="row cl pd-10">
                      
                      <div class="col-2 form-label" style="width:80px;">被搬迁人：</div>
                      <div class="col-4">
                        <input type="text" class="input-text size-MINI" >
                      </div>
                      
                      <div class="col-2 form-label" > 搬迁号： </div>
                      <div class="col-4">
                        <input type="text" class="input-text size-MINI" autocomplete="off" placeholder="3-45-1">
                      </div>
                    </div>
                    <div class="row cl pd-10">
                      <div class="col-2 form-label" style="width:80px;"> 时间：</div>
                      <div class="col-4 ">
                        <input class="input-text size-MINI Wdate " type="text" onfocus="WdatePicker({firstDayOfWeek:1,skin:'twoer'})">
                      </div>
                      
                    <div class="row cl pd-10">
                    	<div class="col-2 form-label" style="width:80px;"> </div>
                        <div class="col-10">
                        	<input class="btn btn-primary size-MINI radius" type="button" value="搜 索">
                        </div> 
                   </div>
                  </form>
        
        <div class="workListTools"> 
                  <!-- 表格操作菜单 -->
                  <div class="complexTableTools">
                    <a href="from01.html" class="btn btn-success size-MINI" ><i class="icon-file-alt"></i> 新建评估分户报告</a>
                  </div>
                  <!--end 表格操作菜单 --> 
                  
                  
                </div>
        
        <!-- 表格部分 -->
                <table class="table table-border  table-striped table-hover">
                  <thead>
                    <tr>
                      <th class="skin-minimal" width="5%"> <div class="check-box">
                          <input type="checkbox" id="checkbox-1">
                          <label for="checkbox-1">全选</label>
                        </div>
                      </th>
                      <th width="10%">搬迁号</th>
                      <th width="20%">房屋坐落</th>
                      <th width="10%">被搬迁人</th>
                      <th width="20%">估价依据</th>
                      <th width="10%">时间</th>
                      <th width="10%">备注</th>
                      <th width="5%">操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="skin-minimal"> <div class="check-box">
                          <input type="checkbox" id="checkbox-1">
                          <label for="checkbox-1">1.</label>
                        </div>
                      </th>
                      <td><a href="from01.html">3-45-1</a></td>
                      <td>如皋经济开发区（柴湾镇）镇南村4组</td>
                      <td>秦兴林（秦龙进）</td>
                      <td>政办发【2009】24号、开发【2009】2号</td>
                      <td>2016-3-10</td>
                      <td></td>
                      <td><a href="from02.html" class="btn btn-success size-MINI radius" target="_blank">计算</a></td>
                      
                    </tr>
                    <tr>
                      <th class="skin-minimal"> <div class="check-box">
                          <input type="checkbox" id="checkbox-1">
                          <label for="checkbox-1">2.</label>
                        </div>
                      </th>
                      <td><a href="from01.html">3-45-1</a></td>
                      <td>如皋经济开发区（柴湾镇）镇南村4组</td>
                      <td>秦兴林（秦龙进）</td>
                      <td>政办发【2009】24号、开发【2009】2号</td>
                      <td>2016-3-10</td>
                      <td></td>
                      <td><a href="from02.html" class="btn btn-success size-MINI radius" target="_blank">计算</a></td>
                    </tr>
                    <tr>
                      <th class="skin-minimal"> <div class="check-box">
                          <input type="checkbox" id="checkbox-1">
                          <label for="checkbox-1">3.</label>
                        </div>
                      </th>
                      <td><a href="from01.html">3-45-1</a></td>
                      <td>如皋经济开发区（柴湾镇）镇南村4组</td>
                      <td>秦兴林（秦龙进）</td>
                      <td>政办发【2009】24号、开发【2009】2号</td>
                      <td>2016-3-10</td>
                      <td></td>
                      <td><a href="from02.html" class="btn btn-success size-MINI radius" target="_blank">计算</a></td>
                    </tr>
                    <tr>
                      <th class="skin-minimal"> <div class="check-box">
                          <input type="checkbox" id="checkbox-1">
                          <label for="checkbox-1">4.</label>
                        </div>
                      </th>
                     <td><a href="from01.html">3-45-1</a></td>
                      <td>如皋经济开发区（柴湾镇）镇南村4组</td>
                      <td>秦兴林（秦龙进）</td>
                      <td>政办发【2009】24号、开发【2009】2号</td>
                      <td>2016-3-10</td>
                      <td></td>
                      <td><a href="from02.html" class="btn btn-success size-MINI radius" target="_blank">计算</a></td>
                    </tr>
                    <tr>
                      <th class="skin-minimal"> <div class="check-box">
                          <input type="checkbox" id="checkbox-1">
                          <label for="checkbox-1">5.</label>
                        </div>
                      </th>
                     <td><a href="from01.html">3-45-1</a></td>
                      <td>如皋经济开发区（柴湾镇）镇南村4组</td>
                      <td>秦兴林（秦龙进）</td>
                      <td>政办发【2009】24号、开发【2009】2号</td>
                      <td>2016-3-10</td>
                      <td></td>
                      <td><a href="from02.html" class="btn btn-success size-MINI radius" target="_blank">计算</a></td>
                    </tr>
                    <tr>
                      <th class="skin-minimal"> <div class="check-box">
                          <input type="checkbox" id="checkbox-1">
                          <label for="checkbox-1">6.</label>
                        </div>
                      </th>
                     <td><a href="from01.html">3-45-1</a></td>
                      <td>如皋经济开发区（柴湾镇）镇南村4组</td>
                      <td>秦兴林（秦龙进）</td>
                      <td>政办发【2009】24号、开发【2009】2号</td>
                      <td>2016-3-10</td>
                      <td></td>
                      <td><a href="from02.html" class="btn btn-success size-MINI radius" target="_blank">计算</a></td>
                    </tr>
                  </tbody>
                </table>
                
                <!-- 翻页 -->
                <div  class="text-c pt-10">
                  <div  class="laypage_main laypageskin_default" > <a href="javascript:;" class="laypage_prev" data-page="1">上一页</a><a href="javascript:;" class="laypage_first" data-page="1" title="首页">1</a><span>…</span><a href="javascript:;" data-page="4">4</a><a href="javascript:;" data-page="5">5</a><span class="laypage_curr">6</span><a href="javascript:;" data-page="7">7</a><a href="javascript:;" data-page="8">8</a><span>…</span><a href="javascript:;" class="laypage_last" title="尾页" data-page="32">32</a><a href="javascript:;" class="laypage_next" data-page="7">下一页</a></div>
                </div>
                <!--end 翻页 --> 
                <!--end 表格部分 --> 
        
    </div>
    <!--end 内容部分 -->
  </div>
</section>
<!--end  主要内容区域   -->
<footer class="footer">
  <p>版权所有 © 南京国图信息产业股份有限公司</p>
</footer>
<script type="text/javascript" src="lib/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer1.8/layer.min.js"></script> 
<script type="text/javascript" src="lib/laypage/laypage.js"></script> 
<script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="lib/bootstrapSwitch/bootstrapSwitch.js"></script> 
<script type="text/javascript" src="lib/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="lib/passwordStrength-min.js"></script> 
<script type="text/javascript" src="Lib/unslider.min.js"></script> 
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script> 
<script src="js/leftMenu.js"></script>
<!--  调用jQueryUI实现拖动 --> 
<script src="js/jquery-ui.js"></script>
<script type="text/javascript">

$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	$("#demoform").Validform({
		tiptype:2
	});
});

$(function(){
  $.Huitab("#tab_demo2 .tabBar2 span","#tab_demo2 .tabCon2","current","click","0");
  
});
$(function(){
  $.Huitab("#tab_demo3 .tabBar3 span","#tab_demo3 .tabCon3","current","click","0");
  
});
$(function(){
  $.Huitab("#tab_demo4 .tabBar4 span","#tab_demo4 .tabCon4","current","click","0");
  
});

// #tab_demo 父级id
// #tab_demo .tabBar span 控制条
// #tab_demo .tabCon 内容区
// click 事件 点击切换，可以换成mousemove 移动鼠标切换
// 1	默认第2个tab为当前状态（从0开始）


$(function() {
	if(window.chrome){$('.slider li').css('background-size', '100% 100%');}
	$('.slider').unslider({
		speed: 500,               //  滚动速度
		delay: 3000,              //  动画延迟
		complete: function() {},  //  动画完成的回调函数
		keys: true,               //  启动键盘导航
		fluid: true               //  支持响应式设计
	});
	// 左右控制js
	var unslider = $('.slider').unslider();
	$('.unslider-arrow').click(function(){
		var fn = this.className.split(' ')[1];
		unslider.data('unslider')[fn]();
	});
});
/*调用jQueryUI实现拖动*/
$(function() {
		$('#draggable').draggable();
		
	});
/*影藏显示*/	
$(document).ready(function(){
		$("#hide").click(function(){
  		$("#draggable").hide();
  	});
 		 $("#show").click(function(){
  		$("#draggable").show();
  	});
		
	});
  /*   收缩  */
	 $(document).ready(function(){
	$(".flip").click(function(){
    $("#NewTask").slideToggle("slow");
	
  });
});

</script>
</body>
</html>
<!--H-ui前端框架提供前端技术支持 h-ui.net @2015-4-30 -->