<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="favicon.ico">
<link rel="Shortcut Icon" href="favicon.ico">
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="static/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="static/h-ui/css/style.css" rel="stylesheet" type="text/css" />
<link href="static/h-ui/css/H-ui.doc.css" rel="stylesheet" type="text/css">
<link href="static/h-ui/css/H-ui.admin.css" rel="stylesheet" type="text/css">
<link href="static/h-ui/css/laypage.css" rel="stylesheet" type="text/css">
<link href="lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="lib/bootstrapSwitch/bootstrapSwitch.css" rel="stylesheet" type="text/css" />
<link href="lib/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!--[if IE 7]>
<link href="lib/font-awesome/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<link href="lib/iconfont/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->

<!--[GTMAPUICSS]-->
<link href="css/public.css" rel="stylesheet" type="text/css" />
<!--[end GTMAPUICSS]-->

<title>汇总表</title>
<meta name="keywords" content="关键词,5个左右,单个8汉字以内">
<meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
</head>
<body class="greenStyle">
<header class="header border-bottom">
  <nav class="mainnav Hui-wraper">
    <h1 class="LOGO">如皋市经济开发区住房安置系统</h1>
    
<!-- 导航栏 -->    
    <ul class="cl  ToCenter">
      <li class="navBorder  border-top">
      		<a class="" href="01Content.html">汇总表</a>
		</li>
     <li class="navBorder current border-top">
      	<a class="" href="03Content.html">统计报表</a>
	 </li>
    </ul>
<!--end 导航栏 -->          

<!-- 工具栏 -->          
      <ul class="ToRight border-bottom">
       <li>
      	<form action="" method="" class="" id="">
          <div class="navSearch">
            <input type="text" value="" class="navSearchText" placeholder="系统搜索"/>
            <button type="button"  class="navSearchButton" >1</button>
          </div>
        </form>
      </li>
      
      <li class="navBorder dropDown dropDown_hover border-top border-right"><a href="#" class="dropDown_A"><span class="user "><span class="userName">张三 </span></span><i class="iconfont ">&#xf02a9;</i></a>
        <ul class="dropDown-menu radius box-shadow">
          <li><a href="#"><i class="icon-off"></i> 注   销</a></li>
          <li><a href="#"><i class="icon-share-alt"></i> 退   出</a></li>
        </ul>
      </li>
     </ul>
<!--end 工具栏 -->        
  </nav>
</header>

<!-- 菜单栏   -->
<aside class="Hui-aside munePosition">
  <h2 class="leftMenuLab">统计报表</h2>
  <div class="leftMenu">
    <ul class="Menu01">
         <li class=""> <a href="03Content.html">搬迁安置情况表</a> </li>
         <li > <a href="03Content-1.html">安置情况汇总表（二）</a> </li>
         <li class="current"> <a href="03Content-2.html">安置情况统计表（A）</a> </li>
         <li> <a href="03Content-3.html">安置情况统计表（B）</a> </li>
         <li> <a href="03Content-4.html">安置情况统计表（C）</a> </li>
         <li> <a href="03Content-5.html">安置情况汇总表（一）</a> </li>
     </ul>
  </div>
</aside>
<div class="dislpayArrow" ><a class="pngfix" href="javascript:void(0);" onclick="displaynavbar(this)"></a></div>
<!--end  菜单栏   --> 

<!--  主要内容区域   -->
<section class="Hui-article-box mainContent"><!-- 使用Hui-article-box恢复菜单栏自动缩放 -->
  <!-- 面包屑 -->
    <nav class="breadcrumb"><i class="icon-home"></i> <a class="maincolor" href="03Content.html">统计报表</a><span class="c-999 en">&gt;</span>搬迁安置情况表</nav>
<!--end 面包屑 -->
<!--  主要内容区域   -->
<section class="Hui-article  pd-10 bg-white"><!-- 使用Hui-article-box恢复菜单栏自动缩放 -->
  <div class="Hui-wraper "> 
 		<!-- 工具栏 -->
    	<div class="formToolsStyle01 btn-group">
        	<span class="btn btn-secondary" title="打印"><i class="icon-print"></i> 打印</span>
		</div>
    <!--end 工具栏 -->
    
    
    <!-- 内容部分 -->
    <div class="row cl contentBox  pd-top-20">
    	<div class="col-12  pd-20 bg-white border-all mgtop20 formStyle01">
    		<form action="" method="post" class="form form-horizontal" id="demoform-1">
					<legend title="搬迁安置情况统计表（A）">搬迁安置情况统计表（A）</legend>
					
                	 <!-- 表格表单部分 -->
                    	<table class="table table-border table-bordered table-striped formTableStyle01">
                            <thead class="text-c ">
                                <tr >
                                	<td width="5%" rowspan="3">
                                    	序号
                                    </td>
                                    <td  width="20%" rowspan="3">
                                    	小区名称
                                    </td>
                                    <td  width="5%" rowspan="3">
                                    	幢数
                                    </td>
                                    
                                    <td  width="5%" rowspan="3" >
                                    	总套数
                                    </td>
                                    
                                    <td width="10%" rowspan="3" >
                                    	已安置套数
                                    </td>
                                    
                                    <td colspan="3" width="15%">
                                    	剩余房源
                                    </td>
                                    <td  width="10%" rowspan="3">
                                    	幢号
                                    </td>
                                    <td  width="10%" rowspan="3">
                                    	备注
                                    </td>
                                </tr>
                                
                                
                                <tr>
                                	<td width="5%" rowspan="2">
                                    	套数
                                    </td>
                                    <td width="10%" colspan="2">
                                    	其中
                                    </td>
                                </tr>
                                
                                <tr>
                                	<td width="5%">
                                    	已选剩余套数
                                    </td>
                                    <td width="5%" >
                                    	未选剩余套数
                                    </td>
                                </tr>
                                 
                            </thead>
                            
                            <tbody class="text-c ">
                            	<tr>
                                	<td>
                                    	1
                                    </td>
                                    <td>
                                    	如意花园一期团（新生小区一期）
                                    </td>
                                    <td>
                                    	6
                                    </td>
                                    <td>
                                    	142
                                    </td>
                                    <td>
                                    	142
                                    </td>
                                    <td>
                                    	0
                                    </td>
                                    <td>
                                    	0
                                    </td>
                                    <td>
                                    	0
                                    </td>
                                    <td>
                                    	17#、22#
                                    </td>
                                    <td>
                                    	
                                    </td>
                                    
                                </tr>
                                
                                <tr>
                                	<td>
                                    	2
                                    </td>
                                    <td>
                                    	如意花园一期团（新生小区二期）
                                    </td>
                                    <td>
                                    	6
                                    </td>
                                    <td>
                                    	142
                                    </td>
                                    <td>
                                    	142
                                    </td>
                                    <td>
                                    	0
                                    </td>
                                    <td>
                                    	0
                                    </td>
                                    <td>
                                    	0
                                    </td>
                                    <td>
                                    	1#、2#、3#、4#、5#、6#、7#、8#、9#、10#、11#、12#
                                    </td>
                                    <td>
                                    	
                                    </td>
                                    
                                </tr>
                            </tbody>
                        
                             <tfoot  class="text-c ">
                            	
                             </tfoot>
                           
						</table>
                    <!--end 表格表单部分 -->
				</form>
        	
    	</div>
    </div>
    <!--end 内容部分 -->
  </div>
</section>
<!--end  主要内容区域   -->
<footer class="footer">
  <p>版权所有 © 南京国图信息产业股份有限公司</p>
</footer>
<script type="text/javascript" src="lib/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer1.8/layer.min.js"></script> 
<script type="text/javascript" src="lib/laypage/laypage.js"></script> 
<script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="lib/bootstrapSwitch/bootstrapSwitch.js"></script> 
<script type="text/javascript" src="lib/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="lib/passwordStrength-min.js"></script> 
<script type="text/javascript" src="Lib/unslider.min.js"></script> 
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script> 
<script src="js/leftMenu.js"></script>
<!--  调用jQueryUI实现拖动 --> 
<script src="js/jquery-ui.js"></script>
<script type="text/javascript">

$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	$("#demoform").Validform({
		tiptype:2
	});
});

$(function(){
  $.Huitab("#tab_demo2 .tabBar2 span","#tab_demo2 .tabCon2","current","click","0");
  
});
$(function(){
  $.Huitab("#tab_demo3 .tabBar3 span","#tab_demo3 .tabCon3","current","click","0");
  
});
$(function(){
  $.Huitab("#tab_demo4 .tabBar4 span","#tab_demo4 .tabCon4","current","click","0");
  
});

// #tab_demo 父级id
// #tab_demo .tabBar span 控制条
// #tab_demo .tabCon 内容区
// click 事件 点击切换，可以换成mousemove 移动鼠标切换
// 1	默认第2个tab为当前状态（从0开始）


$(function() {
	if(window.chrome){$('.slider li').css('background-size', '100% 100%');}
	$('.slider').unslider({
		speed: 500,               //  滚动速度
		delay: 3000,              //  动画延迟
		complete: function() {},  //  动画完成的回调函数
		keys: true,               //  启动键盘导航
		fluid: true               //  支持响应式设计
	});
	// 左右控制js
	var unslider = $('.slider').unslider();
	$('.unslider-arrow').click(function(){
		var fn = this.className.split(' ')[1];
		unslider.data('unslider')[fn]();
	});
});
/*调用jQueryUI实现拖动*/
$(function() {
		$('#draggable').draggable();
		
	});
/*影藏显示*/	
$(document).ready(function(){
		$("#hide").click(function(){
  		$("#draggable").hide();
  	});
 		 $("#show").click(function(){
  		$("#draggable").show();
  	});
		
	});
  /*   收缩  */
	 $(document).ready(function(){
	$(".flip").click(function(){
    $("#NewTask").slideToggle("slow");
	
  });
});

</script>
</body>
</html>
<!--H-ui前端框架提供前端技术支持 h-ui.net @2015-4-30 -->