<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="favicon.ico">
<link rel="Shortcut Icon" href="favicon.ico">
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="static/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="static/h-ui/css/style.css" rel="stylesheet" type="text/css" />
<link href="static/h-ui/css/H-ui.doc.css" rel="stylesheet" type="text/css">
<link href="static/h-ui/css/H-ui.admin.css" rel="stylesheet" type="text/css">
<link href="static/h-ui/css/laypage.css" rel="stylesheet" type="text/css">
<link href="lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="lib/bootstrapSwitch/bootstrapSwitch.css" rel="stylesheet" type="text/css" />
<link href="lib/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!--[if IE 7]>
<link href="lib/font-awesome/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<link href="lib/iconfont/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->

<!--[GTMAPUICSS]-->
<link href="css/public.css" rel="stylesheet" type="text/css" />
<!--[end GTMAPUICSS]-->

<title>01搬迁评估结果分户报告</title>
<meta name="keywords" content="关键词,5个左右,单个8汉字以内">
<meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
</head>
<body class="greenStyle">
<header class="header border-bottom">
  <nav class="mainnav Hui-wraper">
    <h1 class="LOGO">如皋市经济开发区住房安置系统</h1>
    
<!-- 导航栏 -->    
    <ul class="cl  ToCenter">
      <li class="navBorder current border-top">
      		<a class="" href="01Content.html">汇总表</a>
		</li>
     <li class="navBorder border-top">
      	<a class="dropDown_A" href="03Content.html">统计报表</a>
	 </li>
    </ul>
<!--end 导航栏 -->          

<!-- 工具栏 -->          
      <ul class="ToRight border-bottom">
       <li>
      	<form action="" method="" class="" id="">
          <div class="navSearch">
            <input type="text" value="" class="navSearchText" placeholder="系统搜索"/>
            <button type="button"  class="navSearchButton" >1</button>
          </div>
        </form>
      </li>
      
      <li class="navBorder dropDown dropDown_hover border-top border-right"><a href="#" class="dropDown_A"><span class="user "><span class="userName">张三 </span></span><i class="iconfont ">&#xf02a9;</i></a>
        <ul class="dropDown-menu radius box-shadow">
          <li><a href="#"><i class="icon-off"></i> 注   销</a></li>
          <li><a href="#"><i class="icon-share-alt"></i> 退   出</a></li>
        </ul>
      </li>
     </ul>
<!--end 工具栏 -->           
  </nav>
</header>


<!--  主要内容区域   -->
<section class="Hui-article mainContent"><!-- 使用Hui-article-box恢复菜单栏自动缩放 -->
  <!-- 面包屑 -->
    <nav class="breadcrumb"><i class="icon-home"></i> <a class="maincolor" href="01Content.html">汇总表</a><span class="c-999 en">&gt;</span><a class="maincolor" href="01Content-1.html">评估汇总表</a><span class="c-999 en">&gt;</span>搬迁评估结果分户报告</nav>
<!--end 面包屑 -->



<div class="Hui-wraper Hui-article"> 
    
    <!-- 工具栏 -->
    	<div class="formToolsStyle01 btn-group">
        	<a href="" class="btn btn-success" title="保存"><i class="icon-save"></i> 保存</a>
			<a href="from02.html" class="btn btn-primary" title="入库补偿协议表"><i class="icon-signin"></i> 拆迁补偿计算表</a>
		</div>
    <!--end 工具栏 -->
    
    
    <!-- 内容部分 -->
     <!-- 步骤条 -->
            	<div class="four steps toolsStep01">
                  <a href="from01.html" class="active step"><i class="icon-ok"></i> 第一步 评估</a>
                  <a href="" class="disabled step"><i class="icon-ok"></i> 第二步 补偿签约</a>
                  <a href="" class="disabled step"><i class="icon-ok"></i> 第三步 选房选车位</a>
                  <a href="" class="disabled step"><i class="icon-edit"></i> 第四步 安置统计</a>
                </div>
   <!--end 步骤条 -->
    <div class="row cl contentBox pd-top-60">
    	<div class="col-12  pd-20 bg-white border-all mgbtm40 formStyle01">
    		
        	<form action="" method="post" class="form form-horizontal" id="demoform-1">
					<legend>搬迁评估结果分户报告</legend>
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-2">时间：</label>
						<div class="formControls col-xs-8 col-sm-10">
							<input class="input-text  Wdate " type="text" onfocus="WdatePicker({firstDayOfWeek:1,skin:'twoer'})">
                       
						</div>
					</div>
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-2">搬迁号：</label>
						<div class="formControls col-xs-8 col-sm-10">
							<input type="text" class="input-text" >
						</div>
					</div>
                    
                    <div class="row cl">
						<label class="form-label col-xs-4 col-sm-2">被搬迁人：</label>
						<div class="formControls col-xs-8 col-sm-10">
							<input type="text" class="input-text" >
						</div>
					</div>
                    
                    <div class="row cl">
						<label class="form-label col-xs-4 col-sm-2">房屋坐落：</label>
						<div class="formControls col-xs-8 col-sm-10">
							<input type="text" class="input-text" >
						</div>
					</div>
					
					
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-2">估价依据：</label>
						<div class="formControls col-xs-8 col-sm-10"> <span class="select-box">
							<select class="select" size="1" name="demo1">
								<option value="" selected="">政办发【2009】24号、开发【2009】2号</option>
								<option value="1">政办发【2009】24号、开发【2009】3号</option>
								<option value="2">政办发【2009】24号、开发【2009】4号</option>
								<option value="3">政办发【2009】24号、开发【2009】5号</option>
							</select>
							</span> </div>
					</div>
                    
                    <!--<div class="row cl">
						<label class="form-label col-xs-4 col-sm-2">文件域：</label>
						<div class="formControls col-xs-8 col-sm-10"> <span class="btn-upload form-group">
							<input class="input-text upload-url" type="text" name="uploadfile-2" id="uploadfile-2" readonly>
							<a href="javascript:void();" class="btn btn-primary upload-btn"><i class="Hui-iconfont"></i> 浏览文件</a>
							<input type="file" multiple name="file-2" class="input-file">
							</span> </div>
					</div>
                    
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-2">文本域：</label>
						<div class="formControls col-xs-8 col-sm-10">
							<textarea class="textarea" placeholder="说点什么..." rows="" cols="" name=""></textarea>
						</div>
					</div>-->
					
                    <hr/>
                    
                    
                   <label class="form-label-01 ">评价结果：</label>
                    <!-- 表格表单部分 -->
                    	<table class="table table-border table-bordered table-striped formTableStyle01">
                            <thead class="text-c pd-8">
                                <tr>
                                    <th rowspan="2" width="30px">房号</th>
                                    <th rowspan="2" width="80px">类别</th>
                                    <th rowspan="2" width="80px">结构等级</th>
                                    <th rowspan="2">实量总面积㎡</th>
                                    <th colspan="3">其中</th>
                                    <th rowspan="2">合法面积建安成新价（元）</th>
                                    <th rowspan="2">无证建筑折价（元）</th>
                                    <th rowspan="2" width="100px">备注</th>
                                </tr>
                                <tr>
                                   
                                    <th >认定面积㎡</th>
                                    <th >超证面积㎡</th>
                                    <th >无证面积㎡</th>
                                    
                                </tr>
                            </thead>
                            <tbody class="text-c">
                                <tr>
                                    <td >1-1</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">砖混</option>
                                                <option value="1">简易</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">H1</option>
                                                <option value="1">J1.5</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td rowspan="13">
                                    	<textarea name="" cols="" rows="33" class="textarea" placeholder="备注内容"></textarea>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td >1-2</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">砖混</option>
                                                <option value="1">简易</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">H1</option>
                                                <option value="1">J1.5</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    
                                </tr>
                                
                                <tr>
                                    <td >4</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">砖混</option>
                                                <option value="1">简易</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">H1</option>
                                                <option value="1">J1.5</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    
                                </tr>
                                
                                
                                <tr>
                                    <td >3</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">砖混</option>
                                                <option value="1">简易</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">H1</option>
                                                <option value="1">J1.5</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    
                                </tr>
                                
                                <tr>
                                    <td >5</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">砖混</option>
                                                <option value="1">简易</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">H1</option>
                                                <option value="1">J1.5</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    
                                </tr>
                                
                                
                                <tr>
                                    <td >6</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">砖混</option>
                                                <option value="1">简易</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">H1</option>
                                                <option value="1">J1.5</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    
                                </tr>
                                
                                <tr>
                                    <td >7-1</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">砖混</option>
                                                <option value="1">简易</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">H1</option>
                                                <option value="1">J1.5</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    
                                </tr>
                                
                                <tr>
                                    <td >7-2</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">砖混</option>
                                                <option value="1">简易</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">H1</option>
                                                <option value="1">J1.5</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    
                                </tr>
                                
                                
                                <tr>
                                    <td >8</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">砖混</option>
                                                <option value="1">简易</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">H1</option>
                                                <option value="1">J1.5</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    
                                </tr>
                                
                                
                                <tr>
                                    <td >9</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">砖混</option>
                                                <option value="1">简易</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td> 
                                    	<span class="select-box">
                                            <select class="select" size="1" name="demo1">
                                                <option value="" selected="">H1</option>
                                                <option value="1">J1.5</option>
                                                
                                            </select>
										</span>
                            		</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                    
                                </tr>
                                
                                
                                <tr>
                                	<td colspan="3">
                                    	小计
                                    </td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                </tr>
                                
                                
                                <tr>
                                	<td colspan="3">
                                    	附属设施
                                    </td>
                                     <td>
                                    	
                                  	</td>
                                     <td>
                                    
                                  	</td>
                                     <td>
                                    	
                                  	</td>
                                     <td>
                                    	
                                  	</td>
                                     <td>
                                    
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                </tr>
                                
                                <tr>
                                	<td colspan="3">
                                    	总合计
                                    </td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                     <td>
                                    	<input type="text" class="input-text text-r" />
                                  	</td>
                                </tr>
                            </tbody>
						</table>
                    <!--end 表格表单部分 -->
				</form>
    	</div>
    </div>
    <!--end 内容部分 -->
  </div>
</section>
<!--end  主要内容区域   -->
<footer class="footer">
  <p>版权所有 © 南京国图信息产业股份有限公司</p>
</footer>
<script type="text/javascript" src="lib/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer1.8/layer.min.js"></script> 
<script type="text/javascript" src="lib/laypage/laypage.js"></script> 
<script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="lib/bootstrapSwitch/bootstrapSwitch.js"></script> 
<script type="text/javascript" src="lib/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="lib/passwordStrength-min.js"></script> 
<script type="text/javascript" src="Lib/unslider.min.js"></script> 
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script> 
<script src="js/leftMenu.js"></script>
<!--  调用jQueryUI实现拖动 --> 
<script src="js/jquery-ui.js"></script>
<script type="text/javascript">

$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	$("#demoform").Validform({
		tiptype:2
	});
});

</script>
</body>
</html>
<!--H-ui前端框架提供前端技术支持 h-ui.net @2015-4-30 -->