<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="favicon.ico">
<link rel="Shortcut Icon" href="favicon.ico">
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="static/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="static/h-ui/css/style.css" rel="stylesheet" type="text/css" />
<link href="static/h-ui/css/H-ui.doc.css" rel="stylesheet" type="text/css">
<link href="static/h-ui/css/H-ui.admin.css" rel="stylesheet" type="text/css">
<link href="static/h-ui/css/laypage.css" rel="stylesheet" type="text/css">
<link href="lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="lib/bootstrapSwitch/bootstrapSwitch.css" rel="stylesheet" type="text/css" />
<link href="lib/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!--[if IE 7]>
<link href="lib/font-awesome/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<link href="lib/iconfont/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->

<!--[GTMAPUICSS]-->
<link href="css/public.css" rel="stylesheet" type="text/css" />
<!--[end GTMAPUICSS]-->

<title>03拆迁安置购房表</title>
<meta name="keywords" content="关键词,5个左右,单个8汉字以内">
<meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
</head>
<body class="greenStyle">
<header class="header border-bottom">
  <nav class="mainnav Hui-wraper">
    <h1 class="LOGO">如皋市经济开发区住房安置系统</h1>
    
<!-- 导航栏 -->    
    <ul class="cl  ToCenter">
      <li class="navBorder current border-top">
      		<a class="" href="01Content.html">汇总表</a>
		</li>
     <li class="navBorder border-top">
      	<a class="dropDown_A" href="03Content.html">统计报表</a>
	 </li>
    </ul>
<!--end 导航栏 -->          

<!-- 工具栏 -->          
      <ul class="ToRight border-bottom">
       <li>
      	<form action="" method="" class="" id="">
          <div class="navSearch">
            <input type="text" value="" class="navSearchText" placeholder="系统搜索"/>
            <button type="button"  class="navSearchButton" >1</button>
          </div>
        </form>
      </li>
      
      <li class="navBorder dropDown dropDown_hover border-top border-right"><a href="#" class="dropDown_A"><span class="user "><span class="userName">张三 </span></span><i class="iconfont ">&#xf02a9;</i></a>
        <ul class="dropDown-menu radius box-shadow">
          <li><a href="#"><i class="icon-off"></i> 注   销</a></li>
          <li><a href="#"><i class="icon-share-alt"></i> 退   出</a></li>
        </ul>
      </li>
     </ul>
<!--end 工具栏 -->         
  </nav>
</header>


<!--  主要内容区域   -->
<section class="Hui-article mainContent"><!-- 使用Hui-article-box恢复菜单栏自动缩放 -->
<!-- 面包屑 -->
    <nav class="breadcrumb"><i class="icon-home"></i> <a class="maincolor" href="01Content.html">汇总表</a><span class="c-999 en">&gt;</span><a class="maincolor" href="01Content-4.html">安置</a><span class="c-999 en">&gt;</span>拆迁安置购房表</nav>
<!--end 面包屑 -->



<div class="Hui-wraper Hui-article"> 
    
    <!-- 工具栏 -->
    	<div class="formToolsStyle01 ">
        	<a href="" class="btn btn-success" title="保存"><i class="icon-save"></i> 保存</a>
            <span class="btn btn-secondary" title="打印"><i class="icon-print"></i> 打印</span>
		</div>
    <!--end 工具栏 -->
    
    
    <!-- 内容部分 -->
    
   <!-- 步骤条 -->
            	<div class="four steps toolsStep01">
                  <a href="from01.html" class=" step"><i class="icon-ok"></i> 第一步 评估</a>
                  <a href="from02.html" class=" step"><i class="icon-ok"></i> 第二步 补偿签约</a>
                  <a href="PropertyTable.html" class=" step"><i class="icon-ok"></i> 第三步 选房选车位</a>
                  <a href="from03.html" class="active step"><i class="icon-edit"></i> 第四步 安置统计</a>
                </div>
   <!--end 步骤条 -->
    <div class="row cl contentBox pd-top-60">
    	<div class="col-12  pd-20 bg-white border-all formStyle01 mgbtm40">
    		<!-- 任务列表 -->
            <div id="tab_demo4" class="HuiTab cl pl-10">
              <div class="tabBar4  blueBgTabs cl"><span><i class="icon-bookmark-empty"></i> 拆迁安置购房表</span><span><i class="icon-bookmark-empty"></i> 搬迁安置选房计算表</span><span><i class="icon-bookmark-empty"></i> 搬迁结算表</span> <span><i class="icon-bookmark-empty"></i> 搬迁安置房源配置审批表</span></div>
              <div class="tabCon4 ">
               <form action="" method="post" class="form form-horizontal" id="demoform-1">
					<!-- 拆迁安置购房表 -->
                    	<table class="table table-border table-bordered table-striped formTableStyle01 mgtop10">
                            <thead class="text-r ">
                                <tr >
                                	<th colspan="7" >
                                    	<font class="dateInterval">年</font> <font class="dateInterval">月</font> <font class="dateInterval">日</font>
                                    </th>
                                </tr>
                            </thead>
                            
                        	<tbody class="text-c">
                                <tr>
                                    <td width="16%" rowspan="2">拆迁号</td>
                                    <td width="16%" rowspan="2" colspan="2"></td>
                                    <td width="16%" rowspan="2">拆迁人姓名</td>
                                    <td width="16%" rowspan="2"></td>
                                    <td  width="16%">村别</td>
                                    <td  width="16%"></td>
                                </tr>
                                
                               <tr>
                               		<td >组别</td>
                                    <td ></td>
                               </tr>
                             </tbody>
                             
                             
                             <tbody class="text-c">
                                <tr>
                                    <td  rowspan="5">主房</td>
                                    <td  width="8%">？组号</td>
                                    <td ></td>
                                    <td  ></td>
                                    <td  ></td>
                                    <td  ></td>
                                    <td  ></td>
                                </tr>
                                
                               <tr>
                               		<td  >房号</td>
                                    <td ></td>
                                    <td  ></td>
                                    <td  ></td>
                                    <td  ></td>
                                    <td  ></td>
                               </tr>
                               
                               <tr>
                               		<td  >套型</td>
                                    <td ></td>
                                    <td  ></td>
                                    <td  ></td>
                                    <td  ></td>
                                    <td  ></td>
                               </tr>
                               
                                <tr>
                               		<td rowspan="2">面积（㎡）</td>
                                    <td >预算</td>
                                    <td  ></td>
                                    <td  ></td>
                                    <td  ></td>
                                    <td  ></td>
                               </tr>
                                <tr>
                               		<td >测绘</td>
                                    <td  ></td>
                                    <td  ></td>
                                    <td  ></td>
                                    <td  ></td>
                               </tr>
                             </tbody>
                            
                            
                             <tbody class="text-c">
                                <tr>
                                    <td  rowspan="2">阁楼</td>
                                    <td rowspan="2">面积（㎡）</td>
                                    <td  width="8%">预算</td>
                                    <td ></td>
                                    <td  ></td>
                                    <td  ></td>
                                    <td  ></td>
                                    
                                </tr>
                                
                                  <tr>
                                  	<td >测绘</td>
                                    <td  ></td>
                                    <td  ></td>
                                    <td  ></td>
                                    <td  ></td>
                                </tr>
                                
                             </tbody>
                             
                             <tbody class="text-c">
                                <tr>
                                    <td  rowspan="5">车棚（库）</td>
                                    <td  colspan="2">编号</td>
                                    <td ></td>
                                    <td ></td>
                                    <td  ></td>
                                    <td  ></td>
                                    
                                    
                                </tr>
                               	<tr>
                                  	<td colspan="2">朝向</td>
                                    <td  ></td>
                                    <td  ></td>
                                    <td  ></td>
                                    <td  ></td>
                                </tr>
                                    
                                  <tr>
                                  	<td rowspan="2">面积</td>
                                    <td  >预算</td>
                                    <td  ></td>
                                    <td  ></td>
                                    <td  ></td>
                                    <td  ></td>
                                </tr>
                                
                                 <tr>
                                  	<td >测绘</td>
                                    <td  ></td>
                                    <td  ></td>
                                    <td  ></td>
                                    <td  ></td>
                                </tr>
                             </tbody>
                             
                             <tfoot>
                             	<tr>
                                	<td colspan="7">
                                    	说明：<br/>
                                        1、本表一经填写签字确认后，所选的安置房一律不予退换<br/>
                                        2、被拆迁人须于选房后2日内值指挥部结算，确认购房款。逾期所选购的安置房视为自动放弃。
                                        3、安置小区、房型等公示内容为初步规划设计，建设过程中，根据实际情况可能有所调整。
                                        4、表中面积为预售面积，最终结算以有资质部门实际测绘面积为准。
                                    </td>
                                </tr>
                                
                                <tr>
                                	<td class="text-c">
                                    	经办人签字：
                                    </td>
                                    <td colspan="3">
                                    	
                                    </td>
                                    <td class="text-c">
                                    	被拆迁人人签字：
                                    </td>
                                    <td colspan="2">
                                    	
                                    </td>
                                </tr>
                             </tfoot>
                           
						</table>
                    <!--end 拆迁安置购房表 -->
				</form>
               </div>
              <div class="tabCon4">
              		<!-- 搬迁安置选房计算表 -->
                    	<table class="table table-border table-bordered table-striped formTableStyle01 mgtop10">
                            <thead class="text-c ">
                                <tr >
                                	<td colspan="2" width="18%">
                                    	姓名
                                    </td>
                                    <td width="9%">
                                    </td>
                                    <td width="9%">
                                    	村组
                                    </td>
                                    <td colspan="2"  width="18%">
                                    </td>
                                    <td width="9%">
                                    	拆迁号
                                    </td>
                                    
                                    <td colspan="4" width="36%">
                                    	
                                    </td>
                                </tr>
                                
                                <tr >
                                	<td colspan="2" width="18%">
                                    	实际面积
                                    </th>
                                    <td width="9%" class="text-r ">
                                    	㎡
                                    </th>
                                    <td width="9%">
                                    	合法面积
                                    </th>
                                    <td colspan="2"  width="18%" class="text-r ">
                                   	 ㎡
                                    </td>
                                    <td width="9%">
                                    	可安置面积
                                    </td>
                                    
                                    <td colspan="4" width="36%" class="text-r ">
                                    	㎡
                                    </td>
                                </tr>
                            </thead>
                            
                        	<tbody class="text-c">
                                <tr>
                                   <td rowspan="7" colspan=""  width="9%">
                                   		主房
                                   </td>
                                   <td colspan="2">
                                   		安置房
                                   </td>
                                   <td colspan="4">
                                   		<font class="dateInterval">小区</font> <font class="dateInterval">栋</font> <font class="dateInterval">号
                                   </td>
                                    <td colspan="4">
                                   		<font class="dateInterval">小区</font> <font class="dateInterval">栋</font> <font class="dateInterval">号
                                   </td>
                                </tr>
                                
                                
                                <tr>
                                   <td colspan="2">
                                   		面积（平方米）
                                   </td>
                                   <td colspan="4">
                                   		
                                   </td>
                                    <td colspan="4">
                                   		
                                   </td>
                                </tr>
                                
                                <tr>
                                   <td colspan="2">
                                   		其中
                                   </td>
                                   <td >
                                   		安置价	
                                   </td>
                                    <td >
                                   		优惠价
                                   </td>
                                   <td >
                                   		市场优惠价
                                   </td>
                                   <td >
                                   		阁楼
                                   </td>
                                   <td >
                                   		安置价
                                   </td>
                                   <td >
                                   		优惠价
                                   </td>
                                   <td >
                                   		市场优惠价
                                   </td>
                                   <td >
                                   		阁楼
                                   </td>
                                </tr>
                                
                                <tr>
                                   <td colspan="2">
                                   		面积
                                   </td>
                                   <td >
                                   			
                                   </td>
                                    <td >
                                   		
                                   </td>
                                   <td >
                                   		
                                   </td>
                                   <td >
                                   		
                                   </td>
                                   <td >
                                   		
                                   </td>
                                   <td >
                                   		
                                   </td>
                                   <td >
                                   		
                                   </td>
                                   <td >
                                   		
                                   </td>
                                </tr>
                                
                                <tr>
                                   <td colspan="2">
                                   		价格
                                   </td>
                                   <td >
                                   			
                                   </td>
                                    <td >
                                   		
                                   </td>
                                   <td >
                                   		
                                   </td>
                                   <td >
                                   		
                                   </td>
                                   <td >
                                   		
                                   </td>
                                   <td >
                                   		
                                   </td>
                                   <td >
                                   		
                                   </td>
                                   <td >
                                   		
                                   </td>
                                </tr>
                                
                                <tr>
                                   <td colspan="2">
                                   		金额（元）
                                   </td>
                                   <td >
                                   			
                                   </td>
                                    <td >
                                   		
                                   </td>
                                   <td >
                                   		
                                   </td>
                                   <td >
                                   		
                                   </td>
                                   <td >
                                   		
                                   </td>
                                   <td >
                                   		
                                   </td>
                                   <td >
                                   		
                                   </td>
                                   <td >
                                   		
                                   </td>
                                </tr>
                                
                                <tr>
                                   <td colspan="2">
                                   		主房合计
                                   </td>
                                   <td colspan="5" class="text-r">
                                   		小写	
                                   </td>
                                    <td colspan="3" class="text-r borderLeftNone">
                                   		元
                                   </td>
                                   
                                </tr>
                             </tbody>
                            
                            
                            
                            <tbody class="text-c">
                                <tr>
                                   <td rowspan="6" colspan=""  width="9%">
                                   		车棚（库）
                                   </td>
                                   <td colspan="2">
                                   		编号
                                   </td>
                                   <td colspan="4">
                                   		
                                   </td>
                                   <td colspan="4">
                                   		
                                   </td>
                                  
                                </tr>
                                
                                
                                <tr>
                                   <td colspan="2">
                                   		朝向
                                   </td>
                                   <td colspan="4">
                                   		
                                   </td>
                                    <td colspan="4">
                                   		
                                   </td>
                                </tr>
                                
                                <tr>
                                   <td colspan="2">
                                   		面积
                                   </td>
                                   <td colspan="4">
                                   		
                                   </td>
                                    <td colspan="4">
                                   		
                                   </td>
                                </tr>
                                
                                <tr>
                                   <td colspan="2">
                                   		价格
                                   </td>
                                   <td colspan="4">
                                   		
                                   </td>
                                    <td colspan="4">
                                   		
                                   </td>
                                </tr>
                                
                                <tr>
                                   <td colspan="2">
                                   		金额（元）
                                   </td>
                                   <td colspan="4">
                                   		
                                   </td>
                                    <td colspan="4">
                                   		
                                   </td>
                                </tr>
                                
                                <tr>
                                   <td colspan="2">
                                   		车棚（库）合计
                                   </td>
                                   <td colspan="4" class="text-r">
                                   		小写
                                   </td>
                                    <td colspan="4" class="text-r">
                                   		元
                                   </td>
                                </tr>
                            </tbody>
                          
                             
                         	
                            
                            <tbody class="text-c ">
                                <tr>
                                   <td colspan=""  width="9%">
                                   		购房总额：
                                   </td>
                                   <td colspan="8">
                                   		大写：<font class="dateInterval">拾</font><font class="dateInterval">万</font><font class="dateInterval">仟</font> <font class="dateInterval">佰</font> <font class="dateInterval">拾</font><font class="dateInterval">元</font> <font class="dateInterval">角</font> <font class="dateInterval">分</font>
                                   </td>
                                   <td >
                                   		小写
                                   </td>
                                   <td class="text-r borderLeftNone">
                                   		元
                                   </td>
                                </tr>
                            </tbody>
                            
                            
                            
                             <tfoot  class="text-c ">
                            	<tr>
                                	<td colspan="2">
                                    	？计算人签字
                                    </td>
                                    <td colspan="4">
                                    	
                                    </td>
                                    <td  colspan="2">
                                    	拆迁户签字
                                    </td>
                                    <td  colspan="4">
                                    	
                                    </td>
                                </tr>
                             </tfoot>
                           
						</table>
                    <!--end 搬迁安置选房计算表 -->
				</form>
              
              </div>
              <div class="tabCon4">
              		<!-- 搬迁结算表 -->
                    	<table class="table table-border table-bordered table-striped formTableStyle01 mgtop10">
                            <thead class="text-c ">
                                <tr >
                                	<td colspan="2" width="18%">
                                    	搬迁户姓名
                                    </td>
                                    <td width="9%">
                                    </td>
                                    <td width="9%">
                                    	村组
                                    </td>
                                    <td colspan="2"  width="18%">
                                    </td>
                                    <td width="9%">
                                    	拆迁号
                                    </td>
                                    
                                    <td colspan="4" width="36%">
                                    	
                                    </td>
                                </tr>
                                
                                <tr >
                                	<td colspan="2" width="18%">
                                    	实际面积
                                    </th>
                                    <td  class="text-r " colspan="3">
                                    	㎡
                                    </th>
                                    
                                    <td colspan="2">
                                    	可安置面积
                                    </td>
                                    
                                    <td colspan="4" width="36%" class="text-r ">
                                    	㎡
                                    </td>
                                </tr>
                            </thead>
                            
                        	<tbody class="text-c">
                                <tr>
                                   <td rowspan="6" colspan="1"  width="9%">
                                   		补偿奖励
                                   </td>
                                   <td colspan="6">
                                   		拆迁协议补偿金额（含签约奖）
                                   </td>
                                   <td  width="9%">
                                   		￥
                                   </td>
                                    <td colspan="3" class="text-r borderLeftNone">
                                   		元
                                   </td>
                                </tr>
                                
                                <tr>
                                   <td colspan="6">
                                   		交房奖
                                   </td>
                                   <td  width="9%">
                                   		￥
                                   </td>
                                    <td colspan="3" class="text-r borderLeftNone">
                                   		元
                                   </td>
                                </tr>
                                
                                <tr>
                                   <td colspan="6">
                                   		无证建筑增补
                                   </td>
                                   <td  width="9%">
                                   		￥
                                   </td>
                                    <td colspan="3" class="text-r borderLeftNone">
                                   		元
                                   </td>
                                </tr>
                                
                                <tr>
                                   <td rowspan="2">
                                   		移停机销户外补偿
                                   </td>
                                   <td>
                                   		电话
                                   </td>
                                   <td colspan="2">
                                   		
                                   </td>
                                   <td width="9%">
                                   		自来水
                                   </td>
                                   <td colspan="2">
                                   		
                                   </td>
                                   <td  rowspan="2">
                                   		小计
                                   </td>
                                   <td  rowspan="2" class="borderLeftNone">
                                   		元
                                   </td>
                                </tr>
                                
                                <tr>
                                  <td>
                                   		电
                                   </td>
                                   <td colspan="2">
                                   		
                                   </td>
                                   <td width="9%">
                                   		有线电视
                                   </td>
                                   <td colspan="2">
                                   		
                                   </td>
                                 </tr>
                                 
                                 
                                 <tr>
                                  <td>
                                   		其它
                                   </td>
                                   <td colspan="8">
                                   		
                                   </td>
                                 </tr>
                                 
                                 
                                 <tr>
                                  <td colspan="8">
                                   		补偿奖励总合
                                   </td>
                                   <td colspan="1">
                                   		￥
                                   </td>
                                   <td class="borderLeftNone">
                                   		元
                                   </td>
                                 </tr>
                                 
                                 <tr>
                                  <td colspan="8">
                                   		安置购房款
                                   </td>
                                   <td colspan="1">
                                   		￥
                                   </td>
                                   <td class="borderLeftNone">
                                   		元
                                   </td>
                                 </tr>
                                 
                                 <tr>
                                  <td colspan="8">
                                   		？减预留保证金
                                   </td>
                                   <td colspan="1">
                                   		￥
                                   </td>
                                   <td class="borderLeftNone">
                                   		元
                                   </td>
                                 </tr>
                                 
                                 <tr>
                                  <td colspan="">
                                   		结算<br/>（得、找）
                                   </td>
                                   <td colspan="7">
                                   		大写：<font class="dateInterval">拾</font><font class="dateInterval">万</font><font class="dateInterval">仟</font> <font class="dateInterval">佰</font> <font class="dateInterval">拾</font><font class="dateInterval">元</font> <font class="dateInterval">角</font> <font class="dateInterval">分</font>
                                   </td>
                                   <td>
                                   		￥
                                   </td>
                                   <td class="borderLeftNone">
                                   		元
                                   </td>
                                 </tr>
                               
                             </tbody>
                            
                            
                             <tfoot  class="text-c ">
                            	<tr>
                                	<td>
                                    	计算人签字:
                                    </td>
                                    <td  colspan="4" class="borderLeftNone">
                                    </td>
                                    <td>
                                    	拆迁户签字:
                                    </td>
                                    <td  colspan="4" class="borderLeftNone">
                                    </td>
                                </tr>
                                
                                <tr>
                                	<td>
                                    	审核人签字:
                                    </td>
                                    <td  colspan="4" class="borderLeftNone">
                                    </td>
                                    <td>
                                    	审批人签字:
                                    </td>
                                    <td  colspan="4" class="borderLeftNone">
                                    </td>
                                </tr>
                                
                                <tr>
                                	<td colspan="10" class="text-r"><font class="dateInterval">年</font> <font class="dateInterval">月</font> <font class="dateInterval">日</font></td>
                                </tr>
                             </tfoot>
                           
						</table>
                    <!--end 搬迁结算表 -->
				</form>
              
              </div>
              
              <div class="tabCon4 ">
              		<!-- 搬迁安置房源配置审批表 -->
                    	<table class="table table-border table-bordered table-striped formTableStyle01 mgtop10">
                            <thead class="text-c ">
                                <tr >
                                	<td colspan="2" width="16%">
                                    	搬迁地块名称
                                    </td>
                                    <td colspan="2" width="16%">
                                    </td>
                                    <td colspan="2" width="16%">
                                    	涉及村（?）组
                                    </td>
                                    <td colspan="2"  width="16%">
                                    </td>
                                    <td colspan="2" width="16%">
                                    	搬迁总户数
                                    </td>
                                    
                                    <td colspan="2" width="16%">
                                    	
                                    </td>
                                </tr>
                                
                                 <tr >
                                	<td colspan="2" >
                                    	？安置户数
                                    </td>
                                    <td colspan="2" >
                                    </td>
                                    <td colspan="2" >
                                    	意向安置套数
                                    </td>
                                    <td colspan="2" >
                                    </td>
                                    <td colspan="2" >
                                    	房源配置套数（按1:1:2）
                                    </td>
                                    
                                    <td colspan="2" >
                                    	
                                    </td>
                                </tr>
                            </thead>
                            
                        	<tbody class="text-c">
                            	<tr>
                                	<td width="8%" rowspan="3">
                                    	具体房源<br/>配置
                                    </td>   
                                    <td width="8%">
                                    	安置小区
                                    </td>   
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>   
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	合计
                                    </td>
                                </tr>
                                
                                <tr>
                                	<td width="8%">
                                    	幢号
                                    </td>   
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>   
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%"  class="text-r">
                                    	幢
                                    </td>
                                </tr>
                                
                                <tr>
                                	<td width="8%">
                                    	套数
                                    </td>   
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%">
                                    	
                                    </td>   
                                    <td width="8%">
                                    	
                                    </td>
                                    <td width="8%"  class="text-r">
                                    	套
                                    </td>
                                </tr>
                            </tbody>
                            
                            
                            
                            <tbody class="text-c">
                            	<tr>
                                	<td width="8%" rowspan="4">
                                    	审批意见
                                    </td>   
                                    
                                    <td colspan="3">
                                    	搬迁地块负责人
                                    </td>   
                                    
                                    <td colspan="4">
                                    	安置办审核人
                                    </td>
                                    <td colspan="4">
                                    	主管审批人
                                    </td>
                                </tr>
                                
                                <tr>
                                	<td colspan="3" class="borderBottomNone">
                                    	
                                    </td>   
                                    
                                    <td colspan="4" class="borderBottomNone">
                                    	
                                    </td>
                                    <td colspan="4" class="borderBottomNone">
                                    	
                                    </td>
                                </tr>
                                
                                <tr >
                                	<td colspan="3" class="borderBottomNone whiteBg text-l">
                                    	签字：
                                    </td>   
                                    
                                    <td colspan="4" class="borderBottomNone whiteBg text-l">
                                    	签字：
                                    </td>
                                    <td colspan="4" class="borderBottomNone whiteBg text-l">
                                    	签字：
                                    </td>
                                </tr>
                                
                                 <tr >
                                	<td colspan="3" class=" whiteBg text-r">
                                    	<font class="dateInterval">年</font> <font class="dateInterval">月</font> <font class="dateInterval">日</font>
                                    </td>   
                                    
                                    <td colspan="4" class="whiteBg text-r">
                                    	<font class="dateInterval">年</font> <font class="dateInterval">月</font> <font class="dateInterval">日</font>
                                    </td>
                                    <td colspan="4" class="whiteBg text-r">
                                    	<font class="dateInterval">年</font> <font class="dateInterval">月</font> <font class="dateInterval">日</font>
                                    </td>
                                </tr>
                                
                                <tr >
                                	<td colspan="" class=" whiteBg text-r">
                                    	备注：
                                    </td>   
                                    
                                    <td colspan="12" class="whiteBg text-r">
                                    	
                                    </td>
                                </tr>
                                
                               
                            </tbody>
                            
                            
                             <tfoot  class="text-c ">
                            	
                             </tfoot>
                           
						</table>
                    <!--end 搬迁安置房源配置审批表 -->
				</form>
              </div>
              
            </div>
            <!--end 任务列表 --> 
        	
    	</div>
    </div>
    <!--end 内容部分 -->
  </div>
</section>
<!--end  主要内容区域   -->
<footer class="footer">
  <p>版权所有 © 南京国图信息产业股份有限公司</p>
</footer>
<script type="text/javascript" src="lib/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer1.8/layer.min.js"></script> 
<script type="text/javascript" src="lib/laypage/laypage.js"></script> 
<script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="lib/bootstrapSwitch/bootstrapSwitch.js"></script> 
<script type="text/javascript" src="lib/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="lib/passwordStrength-min.js"></script> 
<script type="text/javascript" src="Lib/unslider.min.js"></script> 
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script> 
<script src="js/leftMenu.js"></script>
<!--  调用jQueryUI实现拖动 --> 
<script src="js/jquery-ui.js"></script>
<script type="text/javascript">

$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	$("#demoform").Validform({
		tiptype:2
	});
});


$(function(){
  $.Huitab("#tab_demo4 .tabBar4 span","#tab_demo4 .tabCon4","current","click","0");
  
});
</script>
</body>
</html>
<!--H-ui前端框架提供前端技术支持 h-ui.net @2015-4-30 -->