<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="favicon.ico">
<link rel="Shortcut Icon" href="favicon.ico">
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="static/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="static/h-ui/css/style.css" rel="stylesheet" type="text/css" />
<link href="static/h-ui/css/H-ui.doc.css" rel="stylesheet" type="text/css">
<link href="static/h-ui/css/H-ui.admin.css" rel="stylesheet" type="text/css">
<link href="static/h-ui/css/laypage.css" rel="stylesheet" type="text/css">
<link href="lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="lib/bootstrapSwitch/bootstrapSwitch.css" rel="stylesheet" type="text/css" />
<link href="lib/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!--[if IE 7]>
<link href="lib/font-awesome/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<link href="lib/iconfont/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->

<!--[GTMAPUICSS]-->
<link href="css/public.css" rel="stylesheet" type="text/css" />
<!--[end GTMAPUICSS]-->

<title>签约完成，选房选楼</title>
<meta name="keywords" content="关键词,5个左右,单个8汉字以内">
<meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
</head>
<body class="greenStyle">
<header class="header border-bottom">
  <nav class="mainnav Hui-wraper">
    <h1 class="LOGO">如皋市经济开发区住房安置系统</h1>
    
<!-- 导航栏 -->    
    <ul class="cl  ToCenter">
      <li class="navBorder current border-top">
      		<a class="" href="01Content.html">汇总表</a>
		</li>
     <li class="navBorder border-top">
      	<a class="dropDown_A" href="03Content.html">统计报表</a>
	 </li>
    </ul>
<!--end 导航栏 -->          

<!-- 工具栏 -->          
      <ul class="ToRight border-bottom">
       <li>
      	<form action="" method="" class="" id="">
          <div class="navSearch">
            <input type="text" value="" class="navSearchText" placeholder="系统搜索"/>
            <button type="button"  class="navSearchButton" >1</button>
          </div>
        </form>
      </li>
      
      <li class="navBorder dropDown dropDown_hover border-top border-right"><a href="#" class="dropDown_A"><span class="user "><span class="userName">张三 </span></span><i class="iconfont ">&#xf02a9;</i></a>
        <ul class="dropDown-menu radius box-shadow">
          <li><a href="#"><i class="icon-off"></i> 注   销</a></li>
          <li><a href="#"><i class="icon-share-alt"></i> 退   出</a></li>
        </ul>
      </li>
     </ul>
<!--end 工具栏 -->    
  </nav>
</header>
<!-- 菜单栏   -->
<aside class="Hui-aside munePosition">
  <h2 class="leftMenuLab"> 选房选车位</h2>
  <div class="leftMenu">
    <ul class="Menu01">
      <li class="Blind "> 
        <!--  百叶窗  --> 
        <span class="flip flip-current"><i class="icon-building"></i> 如意花苑<i class="icon_leftmenu01"></i></span>
        <div class="panel panel-current">
          <ul>
            <li > <a href="#">如意花苑一组</a> </li>
            <li> <a href="#">如意花苑二组</a> </li>
            <li class="current"> <a href="#">如意花苑三组</a> </li>
          </ul>
        </div>
       
        <!--end  百叶窗  -->
    </li>
    
    </ul>
  </div>
</aside>
<div class="dislpayArrow" ><a class="pngfix" href="javascript:void(0);" onclick="displaynavbar(this)"></a></div>
<!--end  菜单栏   --> 

<!--  主要内容区域   -->
<section class="Hui-article-box mainContent"><!-- 使用Hui-article-box恢复菜单栏自动缩放 -->
  <!-- 面包屑 -->
    <nav class="breadcrumb"><i class="icon-home"></i> <a class="maincolor" href="PropertyTable.html">选房选车位</a><span class="c-999 en">&gt;</span>选房选车位</nav>
<!--end 面包屑 -->



<div class="Hui-wraper Hui-article"> 
<!--  便捷工具栏  -->
<div class="panel panel-success toolsPositionPannel01 toolsPanel01">
	<div class="panel-header " id="angles"><i class="icon-building"></i> 已选楼盘</div>
	<div class="panel-body panel-body-hidden" id="anglesBody">
    	<span class="btn-upload">
        <a href="javascript:void();" class="btn btn-primary size-S radius"><i class="iconfont">&#xf0020;</i> 上传文件</a>
        <input type="file" multiple name="file_0" class="input-file">
    </span>
        <ul class="panel-content01">
        	
        </ul>
        <a href="#" class="btn btn-success size-S radius" >确认选择</a>
    </div>
    
</div>
<!--end  便捷工具栏  -->  



<!-- 内容部分 -->
    <!-- 步骤条 -->
            	<div class="four steps toolsStep01">
                  <a href="from01.html" class="step"><i class="icon-ok"></i> 第一步 评估</a>
                  <a href="from02.html" class="step"><i class="icon-ok"></i> 第二步 补偿签约</a>
                  <a href="PropertyTable.html" class="active step"><i class="icon-ok"></i> 第三步 选房选车位</a>
                  <a href="from03.html" class=" disabled step"><i class="icon-edit"></i> 第四步 安置统计</a>
                </div>
   <!--end 步骤条 -->
            
<!-- 楼盘表 -->
    <div class="row cl contentBox pd-top-60">
    	<div class="col-12  pd-20 bg-white border-all mgbtm40 formStyle01 dynamicEffect01">
     
      <form action="" method="post" class="form form-horizontal roomActive01" id="demoform-1">
			<legend title="如意花苑三组集居房选房表">楼盘表 <span class="leftStandard">"万顷良田"</span> </legend> 

                <table class="table table-border table-bordered">
                    <thead class="text-c">
                      <tr>
                        <th>面积</th>
                        <th colspan="2">A型：1-11层126.3㎡<br/>（125.67）</th>
                        <th colspan="2">B型：1-11层104.8㎡<br/>（105.35）</th>
                        <th colspan="2">B型：1-11层104.8㎡<br/>（105.35）</th>
                        <th colspan="2">A型：1-11层126.3㎡<br/>（125.67）</th>
                      </tr>
                    </thead>
                    <tbody class="text-c">
                      <tr>
                        <th>十一楼</th>
                        <td  class="disabled">1104阁楼 64<br/> (63.56)</td>
                       	<td class="disabled">张楚光<br/>桥港4组、万4-4</td>
                        <td >1103阁楼 64<br/> (54.55)</td>
                       	<td >张楚光<br/>桥港4组、万4-4</td>
                        <td >1102阁楼 64<br/> (63.56)</td>
                       	<td >张楚光<br/>桥港4组、万4-4</td>
                        <td >1101阁楼 64<br/> (54.55)</td>
                       	<td >张楚光<br/>桥港4组、万4-4</td>
                      </tr>
                      
                      <tr>
                        <th>十楼</th>
                        <td>1004<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>1003<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>1002<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>1001<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                      </tr>
                      
                      <tr>
                        <th>九楼</th>
                        <td>904<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>903<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>902<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>901<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                      </tr>
                      
                      <tr>
                        <th>八楼</th>
                        <td>804<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>803<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>802<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>801<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                      </tr>
                      
                      <tr>
                        <th>七楼</th>
                        <td>704<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>703<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>702<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>701<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                      </tr>
                      
                      <tr>
                        <th>六楼</th>
                        <td>604<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>603<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>602<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>601<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                      </tr>
                      
                      <tr>
                        <th>五楼</th>
                        <td>504<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>503<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>502<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>501<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                      </tr>
                      
                      <tr>
                        <th>四楼</th>
                        <td>404<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>403<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>402<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>401<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                      </tr>
                      
                      <tr>
                        <th>三楼</th>
                        <td>304<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>303<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>302<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>301<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                      </tr>
                      
                      <tr>
                        <th>二楼</th>
                        <td>204<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>203<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>202<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>201<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                      </tr>
                      
                      <tr>
                        <th>一楼</th>
                        <td>104<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>103<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                        <td>102<br/> 万4-6</td>
                       	<td>?VISN</td>
                        <td>101<br/> 万4-3</td>
                       	<td>张楚光<br/>桥港4组</td>
                      </tr>
                      
        			</tbody>
                  </table>
                  
                  
                  <table class="table table-border table-bordered mgtop30">
                    <thead class="text-c">
                      <tr>
                        <th></th>
                        <th colspan="4" width="44%">第二单元</th>
                        <th colspan="4" width="44%">第一单元</th>
                      </tr>
                    </thead>
                    <tbody class="text-c">
                    	<tr>
                        	<th rowspan="12" width="12%">车棚（库）</th>
                            <td >
                            	N23#1.82
                            </td>
                            <td>
                            	203王子华
                            </td>
                            <td>
                            	S12#9.57
                            </td>
                            <td>
                            	303续修天
                            </td>
                            <td>
                            	N35#10.17
                            </td>
                            <td>
                            	401刘陪锦
                            </td>
                            <td>
                            	S12#9.57
                            </td>
                            <td>
                            	1011任宣
                            </td>
                        </tr>
                        
                        <tr>
                        	<td>
                            	N23#1.82
                            </td>
                            <td>
                            	203王子华
                            </td>
                            <td>
                            	S12#9.57
                            </td>
                            <td>
                            	303续修天
                            </td>
                            <td>
                            	N35#10.17
                            </td>
                            <td>
                            	401刘陪锦
                            </td>
                            <td>
                            	S12#9.57
                            </td>
                            <td>
                            	1011任宣
                            </td>
                        </tr>
                        
                        <tr>
                        	<td>
                            	N23#1.82
                            </td>
                            <td>
                            	203王子华
                            </td>
                            <td>
                            	S12#9.57
                            </td>
                            <td>
                            	303续修天
                            </td>
                            <td>
                            	N35#10.17
                            </td>
                            <td>
                            	401刘陪锦
                            </td>
                            <td>
                            	S12#9.57
                            </td>
                            <td>
                            	1011任宣
                            </td>
                        </tr>
                        
                        <tr>
                        	<td>
                            	N23#1.82
                            </td>
                            <td>
                            	203王子华
                            </td>
                            <td>
                            	S12#9.57
                            </td>
                            <td>
                            	303续修天
                            </td>
                            <td>
                            	N35#10.17
                            </td>
                            <td>
                            	401刘陪锦
                            </td>
                            <td>
                            	S12#9.57
                            </td>
                            <td>
                            	1011任宣
                            </td>
                        </tr>
                        
                        <tr>
                        	<td>
                            	N23#1.82
                            </td>
                            <td>
                            	203王子华
                            </td>
                            <td>
                            	S12#9.57
                            </td>
                            <td>
                            	303续修天
                            </td>
                            <td>
                            	N35#10.17
                            </td>
                            <td>
                            	401刘陪锦
                            </td>
                            <td>
                            	S12#9.57
                            </td>
                            <td>
                            	1011任宣
                            </td>
                        </tr>
                        
                        <tr>
                        	<td>
                            	N23#1.82
                            </td>
                            <td>
                            	203王子华
                            </td>
                            <td>
                            	S12#9.57
                            </td>
                            <td>
                            	303续修天
                            </td>
                            <td>
                            	N35#10.17
                            </td>
                            <td>
                            	401刘陪锦
                            </td>
                            <td>
                            	S12#9.57
                            </td>
                            <td>
                            	1011任宣
                            </td>
                        </tr>
                        
                        <tr>
                        	<td>
                            	N23#1.82
                            </td>
                            <td>
                            	203王子华
                            </td>
                            <td>
                            	S12#9.57
                            </td>
                            <td>
                            	303续修天
                            </td>
                            <td>
                            	N35#10.17
                            </td>
                            <td>
                            	401刘陪锦
                            </td>
                            <td>
                            	S12#9.57
                            </td>
                            <td>
                            	1011任宣
                            </td>
                        </tr>
                    </tbody>
                  </table>
                 </form>
             </div>
       </div>
            <!--end 楼盘表 -->
     
    <!--end 内容部分 -->
  </div>
</section>
<!--end  主要内容区域   -->
<footer class="footer">
  <p>版权所有 © 南京国图信息产业股份有限公司</p>
</footer>
<script type="text/javascript" src="lib/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer1.8/layer.min.js"></script> 
<script type="text/javascript" src="lib/laypage/laypage.js"></script> 
<script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="lib/bootstrapSwitch/bootstrapSwitch.js"></script> 
<script type="text/javascript" src="lib/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="lib/passwordStrength-min.js"></script> 
<script type="text/javascript" src="Lib/unslider.min.js"></script> 
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script> 
<script src="js/leftMenu.js"></script>
<!--  调用jQueryUI实现拖动 --> 
<script src="js/jquery-ui.js"></script>
<script type="text/javascript">

$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	$("#demoform").Validform({
		tiptype:2
	});
});
<!--  楼盘表点击获取  -->
 $(function(){
	
		$(".roomActive01 table tr td").click(function(){
			$("#anglesBody").show({width:300},"slow");
			var text = $(".panel-content01").html();
			var y = this.cellIndex;
			var x = this.parentElement.rowIndex;
			var contents = $(this).text();
			var str = "<li class=s" + x+ "" +y + ">" + contents + " </li>";
			
			var leng = $(".panel-content01").find(".s" + x+ "" +y + ""). size();
			if(leng>0){ 
				   $(".panel-content01").find(".s" + x+ "" +y + "").remove();
				}
			if ($(this).hasClass('dynamicEffectColor01')) {
				$(this).removeClass('dynamicEffectColor01');
			}
			else if ($(this).hasClass('disabled')) {
				alert("不能点击,第"+this.parentElement.rowIndex+"行"+this.cellIndex+"列,它的第一个值是 " );
			}else {
					$("<li class=s" + x+ "" +y + ">" +  contents + " </li>").appendTo(".panel-content01");
				    $(this).addClass('dynamicEffectColor01');
					}
				
			
		});
		$("#angles").click(function(){
				$("#anglesBody").toggle();
				
 		});
})
<!--  楼盘表伸缩动画  -->
</script>
</body>
</html>
<!--H-ui前端框架提供前端技术支持 h-ui.net @2015-4-30 -->